{% extends 'base.html.twig' %}

{% block title %}Edit Payementmethod{% endblock %}

{% block body %}
    <h1>Edit Payementmethod</h1>

    {{ include('payementmethod/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_payementmethod_index') }}">back to list</a>

    {{ include('payementmethod/_delete_form.html.twig') }}
{% endblock %}
