{% extends 'base.html.twig' %}

{% block title %}Edit PayementReason{% endblock %}

{% block body %}
    <h1>Edit PayementReason</h1>

    {{ include('payement_reason/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_payement_reason_index') }}">back to list</a>

    {{ include('payement_reason/_delete_form.html.twig') }}
{% endblock %}
