{% extends 'base.html.twig' %}

{% block title %}New PlanningCours{% endblock %}

{% block body %}
    <h1>Create new PlanningCours</h1>

    {{ include('planning_cours/_form.html.twig') }}

    <a href="{{ path('app_planning_cours_index') }}">back to list</a>
{% endblock %}
