<form method="post" action="{{ path('app_incident_delete', {'id': incident.id}) }}" onsubmit="return confirm('{{ 'message.confirm_delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ incident.id) }}">
    <button class="btn btn-danger">{{ 'action.delete'|trans }}</button>
</form>
