{% extends 'base.html.twig' %}

{% block title %}New PayementMethod{% endblock %}

{% block body %}
    <h1>Create new PayementMethod</h1>

    {{ include('payement_method/_form.html.twig') }}

    <a href="{{ path('app_payement_method_index') }}">back to list</a>
{% endblock %}
