{% extends 'base.html.twig' %}

{% block title %}Modifier la Note{% endblock %}

{% block body %}
    <div class="container mx-auto px-4 sm:px-6 lg:px-8 py-8">
        <div class="sm:flex sm:items-center mb-6">
            <div class="sm:flex-auto">
                <h1 class="text-xl font-semibold text-gray-900">Modifier la Note</h1>
                <p class="mt-2 text-sm text-gray-700">Modifiez les informations de la note</p>
            </div>
        </div>

        {{ include('note/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
    </div>
{% endblock %}
