<form method="post" action="{{ path('app_antecedent_academique_delete', {'id': antecedent_academique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ antecedent_academique.id) }}">
    <button class="btn">Delete</button>
</form>
