{% extends 'base.html.twig' %}

{% block title %}New AntecedentAcademique{% endblock %}

{% block body %}
    <h1>Create new AntecedentAcademique</h1>

    {{ include('antecedent_academique/_form.html.twig') }}

    <a href="{{ path('app_antecedent_academique_index') }}">back to list</a>
{% endblock %}
